.videoAndDescription{
    display: flex;
    flex-direction: row;
    padding: 0em 2em;
    height: 35em;
    max-width: 100%;
    background-color: orange;
}

.left33{
    color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.left33 .textToSquare{
    height: auto;
    background-color: #333333;
    border-radius: 24px;
    padding: 1em 1em;
}

.firewoodInfographicDiv img{
    margin: 2em auto;
    border-radius: 24px;
    border: 2px solid black;
}

.right66{
    width: 40%;

}

.right66 img{
    max-height: 100%;
}

.contactForm{
    display: flex;
    flex-direction: column;
}
