.videoAndDescription{
    display: flex;
    flex-direction: row;
    padding: 0em 2em;
    height: 35em;
    max-width: 100%;
    background-color: orange;
}

.left33{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    
}

.left33 .textToSquare{
    height: auto;
    background-color: #333333;
    border-radius: 24px;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text-block{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

.firewoodInfographicDiv{

}

.firewoodInfographicDiv img{
    border-radius: 24px;
    border: 2px solid black;
}

.right66{
    width: 40%;

}

.right66 img{
    max-height: 100%;
}

.orderNowButton{
    background-color: white;
    color: orange;
    border-radius: 24px;
    border: 5px solid black;
    width: 50%;
    padding: .10em .1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orangeText{
    color: orange;
}

.contactForm{
    display: flex;
    flex-direction: column;
}

/*  */
/* Homepage */
/*  */

/* Products Section */
.products-section{
    background-color: #E0E0E0;
}